.container {
    padding: 0 3rem;
    margin: 3rem auto 3rem;
}

.navbar {
    top: 0;
    width: 100%;
    display: flex;
    background-color: white;
    font-family: sans-serif;
    justify-content: space-between;
    z-index: 1;
}

.navbar a {
    margin-left: 5px;
    margin-right: 5px;
}

.home {
    position: relative;
    background-image: url('./images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh;
}

.home-div h1 {
    position: absolute;
    transform: translate(50%, -50%);
    color: white;
    font-size: 10vh;
    z-index: 5;
    right: 50%;
    top: 50%;
}

/**
CSS for Signup and Login
 */
.signup-link-container {
    text-align: center;
    margin-top: 5vh;
}

.identify-link {
    padding: 0;
    display: inline-block;
}

.signup-page, .login-page {
    max-width: 50%;
    margin: auto;
}

.signup-header, .login-header {
    text-align: center;
    border-bottom: 1px solid #b5b1a7;
    padding-bottom: 1vh;
    margin-bottom: 2rem;
}

.signup-button, .login-button, .reset-button, .reset-password-button {
    background-color: #000000;
    color: #ffffff;
    border: 0;
    padding: 1vh;
    width: 75%;
    display: block;
    margin: 20px auto 0 auto;
}

.signup-button:disabled, .signup-button[disabled],
.login-button:disabled, .login-button[disabled],
.reset-button:disabled, .reset-button[disabled],
.reset-password-button:disabled, .reset-password-button[disabled]{
    background-color: #cccccc;
    color: grey;
}

.error-message {
    padding: 5px;
    color: red;
}

.google-login-button {
    text-align: center;
    text-decoration: none;
}

.google-login-button p {
    background-color: #0089EE;
    border: thin solid #0089EE;
    width: 35%;
    color: #FFFFFF;
    padding: 0.75rem;
    border-radius: 1px;
    margin: 0 auto 3vh;
    box-shadow: 1px 1px 1px grey;
    text-decoration: none;
}

/*
CSS for Reset Password Section
 */
.identify-section, .verify-reset-section {
    margin: 3rem auto 3rem auto;
    max-width: 50%;
}

/*
CSS for Browse
 */
.browse-page {
    text-align: center;
    padding: 0 3rem;
    align-items: center;
    margin: 3rem 5rem 3rem 5rem;
}

.browse-page h2 {
    text-align: center;
    width: 50%;
    padding-bottom: 1vh;
    margin: 0 auto 1rem auto;
}

.search-container {
    width: 85%;
    height: 5rem;
}

.search {
    float: right;
    height: 100%;
}

.search-text input {
    padding: 0.5em;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    width: 350px;
}

.search-text input:focus {
    outline-width: 0;
}

.card {
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 550px;
    display: inline-block;
    height: 350px;;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0 3vh 3vh 3vh;
    overflow: hidden;
}

.card-image img {
    width: 300px;
    max-height: 100%;
}

.card-image {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-info {
    padding-top: 1rem;
    padding-left: 20px;
    height: 100%;
    float: left;
    position:relative;
}

.card-info h1 {
    overflow-wrap: break-word;
    max-width: 200px;
    text-align: left;
    font-size: 1.5em;
}

.card-info h3 {
    text-align: left;
    font-size: 1.25em;
    float: left;
    display: inline;
    width: 100%
}

.card-info p {
    text-align: justify;
    overflow-wrap: break-word;
    max-width: 200px;
    font-size: 0.8em;
}

.card-info button {
    background-color: #E0C1AE;
    border: 0;
    width: 100%;
    border-radius: 3px;
    height: 4vh;
    text-align: center;
    margin-bottom: 1rem;
    color: #FFFFFF;
    transition: background-color .5s ease-in-out;
}

.card-info button:hover {
    background-color: #674834;
}

.cart-section, .order-history-section {
    text-align: center;
    padding: 0 3rem;
    align-items: center;
    margin: 3rem auto 3rem auto;
}

.cart-section h2, .order-history-section h2, .reset-header, .reset-password-header {
    text-align: center;
    width: 50%;
    padding-bottom: 1vh;
    margin: 0 auto 1rem auto;
}

.cart-items, .order-history-items  {
    margin: 0 auto 2rem auto;
    width: 60%;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
}

.cart-card, .order-history-card {
    display: flex;
    border-bottom: 1px solid #DDDDDD;
}

.cart-card-image, .order-history-image {
    margin: 1em 3em 1em 3em;
    min-width: 150px;
}

.cart-card-image img, .order-history-card img  {
    max-width: 150px;
    max-height: 150px;
}

.cart-card-name, .order-history-name {
    min-width: 15%;
    max-width: 15%;
    text-align: left;
}

.cart-card-name p, .order-history-name p {
    padding-top: 1rem;
    font-size: 16px;
}

.cart-card-price, .order-history-price {
    margin-left: 3rem;
    min-width: 20%;
    max-width: 20%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.cart-card-price p {
    padding-top: 3rem;
    font-size: 18px;
}

.order-history-price {
    margin-left: 2rem;
    padding-top: 1rem;
}

.order-history-date p {
    margin-bottom: 0;
}

.cart-card-options, .order-history-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cart-card-options button {
    margin-left: 5rem;
    background-color: #FFFFFF;
    border: none;
    font-size: 28px;
}

#cart-order-button {
    background-color: black;
    border: none;
    color: white;
    padding: 0.8rem;
    border-radius: 5px;
}

.order-history-section {
    text-align: center;
}

.order-history-options button {
    margin-left: 1rem;
    font-size: 12px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
}

/*
CSS for Admin
 */
.user-items {
    width: 50%;
    margin: auto;
    text-align: center;
}

.user-card {
    margin: 1rem auto 3rem auto;
    max-width: 50%;
    border: 1px solid #DDDDDD;
    padding: 1em;
    border-radius: 5px;
    text-align: left;
}

.users-section {
    text-align: center;
    padding: 0 3rem;
    align-items: center;
    margin: 3rem auto 3rem auto;
}

.users-section h2 {
    text-align: center;
    width: 50%;
    padding-bottom: 1vh;
    margin: 0 auto 1rem auto;
}
